<div *ngIf="hero">
  <!--<h2>{{hero.name}}: карточка</h2>-->
  <!--<div>
    <label>id: </label>{{hero.id}}</div>-->
  <div class="fluid-container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <div class="row">
            <div class="col-md-2">
              <label>Имя: </label>
            </div>
            <div class="col-md-10">
              <input [(ngModel)]="hero.name" placeholder="ФИО" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <label for="">Заявки</label>

          <table class="table table-striped table-bordered" *ngIf="hero.applications">
            <thead>
              <tr>
                <th>Номинация</th>
                <th>Категория</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let application of hero.applications">
                <td>{{application.nomination.name}}</td>
                <td>{{application.category.name}}</td>
                <td><button (click)="removeApplication(application)">Удалить</button></td>
              </tr>
            </tbody>
          </table>

          <form class="form">
            <div class="form-group">
              <label for="#applicationCategory" class="label">Категория:</label>
              <select #applicationCategory placeholder="категория">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>     
              </select>
            </div>
            <!--<select #applicationCat placeholder="категория">
              <option *ngFor="let key of keys()" [value]="key">{{categories[key]}}</option>     
            </select>-->
            <div class="form-group">
              <label for="#applicationNomination" class="label">Номинация:</label>
              <select #applicationNomination placeholder="номинация">
                <option *ngFor="let nomination of nominations" [value]="nomination.id">{{nomination.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <button (click)="addApplication(applicationCategory.value, applicationNomination.value)">Добавить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button (click)="goBack()">Назад</button>
  <button (click)="save()">Сохранить</button>
</div>